<h1>
  Convert <%= params %>
</h1>

Go <a href="/">back</a>

<ul>
   @code.each do |the_code|
    <li>
      <a href="/:first_symbol/:second_symbol">"Convert 1 #{params} to #{the_code}"</a>
    </li>
   end
</u>

