<h1>Currency pairs</h1>
  <p>Define some routes in app.rb</p>
  <p>Build an app that displays pairs of currencies and their current exchange rates, based on API data.</p>


<ul>
  <% @code.each do |first_symbol| %>
    <li>
      <a href="/<%=first_symbol%>">Convert 1 <%=first_symbol%> to...</a>
    </li>
  <% end %>
</u>
