<h1>Currency pairs</h1>
  <p>Define some routes in app.rb</p>
  <p>Build an app that displays pairs of currencies and their current exchange rates, based on API data.</p>


<ul>
  <%= code.each do |@the_code| %>
        <%=pp%>
          <a href="/:conversion">
          <%"Convert 1 @the_code to..." 
            </a>
          %>
  <%= end %>
</u>
